@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 0.7em;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 214, 204);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 179, 170);
}
::-webkit-scrollbar-track {
  margin-block: .5em;
  background-color: transparent;
}