@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 0.7em;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 214, 204);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 179, 170);
}
::-webkit-scrollbar-track {
  margin-block: .5em;
  background-color: transparent;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	top: 75vh;
}

.arrows path {
	stroke: #29d1bb;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow { /*Safari and Chrome*/
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}